html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-text-color;
}

a,
ul,
li,
p,
h1,
h2,
h3,
h4,
label {
    margin: 0;
}

ul {
    padding-left: 0px;
}

a :visited {
    color: $primary-text-color;
}