$primary-text-color: #212121;
$secondary-text-color: #FFFFFF;
$additional-text-color: #757575;

$accent-color: #2196F3;

$primary-page-color: #FFFFFF;
$secondary-page-color: #2F303A;
$additional-page-color: #F5F4FA;

$first-stroke-color: #ECECEC;
$second-stroke-color: #EEEEEE;

$icon-default-color: #AFB1B8;