.idea {
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    background-color: $secondary-page-color;
    color: $secondary-text-color;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/main/idea-bcg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.idea__tagline {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}